@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root{
    --cor-principal: #db0b2d;
    --cor-secundaria: #fa647d;

    --ledP-verde: #345733;
    --ledP-verde-luz: #87ac86;

    --ledP-verde-aceso: #40ff1e;
    --ledP-verde-luz-aceso: #a9fda7;

    --ledP-vermelho: #800417;
    --ledP-vermelho-luz: #c5384d;

    --ledP-vermelho-aceso: #ff2424;
    --ledP-vermelho-luz-aceso: #ff4f69;

    --ledP-amarelo: #bda51f;
    --ledP-amarelo-luz: #dfcc62;

    --ledP-amarelo-aceso: #ffe240;
    --ledP-amarelo-luz-aceso: #ffee8e;

    --ledGrande: #19699e;
    --ledGrande-luz: #79b5dd;
    --ledGrande-aceso: #26a9ff;
    --ledGrande-luz-aceso: #50b9ff;

    --ledClick: #bda51f;
    --ledClick-luz: #ffff58;
    --ledClick-aceso: #ffdf2b; 
    --ledClick-luz-aceso: #ffff7e;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
}
body{
    min-height: 100vh;
    text-align: center;
}
main{
    display: inline-block;
}
#pokedex{
    display: flex;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    margin-top: 15px;

}
/* ----- CONTAINER PRINCIPAL ----- */
#containerPrincipal{
    background-color: var(--cor-principal);
    width: 437.5px;
    height: 700px;
    border-radius: 10px 10px 0 10px;

    position: relative;
}
#containerPrincipal .parteCima .retangulo{
    height: 100px;
    width: 437.5px;
    background-color: var(--cor-secundaria);
    border-radius: 10px 10px 0 0;
}
/* ----- LED GRANDE AZUL ----- */
#containerPrincipal .parteCima .trapezio #ledGrande{
    position: relative;
    top: -180px;
    left: 20px;
}
#containerPrincipal .parteCima .trapezio #ledGrande .base{
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}
#containerPrincipal .parteCima .trapezio #ledGrande .base .led{
    height: 100px;
    width: 100px;
    background-color: var(--ledGrande);
    border-radius: 50%;
    border: 1px solid black;
}
#containerPrincipal .parteCima .trapezio #ledGrande .base .led .luz{
    height: 40px;
    width: 40px;
    background-color: var(--ledGrande-luz);
    border-radius: 50%;

    position: relative;
    top: 12px;
    left: 12px;
}
/* ----- LED PESQUISA ----- */
#containerPrincipal .parteCima .retangulo #ledPesquisa{
    display: flex;
    flex-direction: row;
    gap: 7px;

    position: relative;
    top: 20px;
    left: 150px;
}
#containerPrincipal .parteCima .retangulo #ledPesquisa .ledVermelho{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--ledP-vermelho);
}
#containerPrincipal .parteCima .retangulo #ledPesquisa .ledVermelho .luz{
    width: 13px;
    height: 13px;
    background-color: var(--ledP-vermelho-luz);
    border-radius: 50%;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}
#containerPrincipal .parteCima .retangulo #ledPesquisa .ledVerde{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color:var(--ledP-verde);
}
#containerPrincipal .parteCima .retangulo #ledPesquisa .ledVerde .luz{
    width: 13px;
    height: 13px;
    background-color: var(--ledP-verde-luz);
    border-radius: 50%;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}
#containerPrincipal .parteCima .retangulo #ledPesquisa .ledAmarelo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--ledP-amarelo);
}
#containerPrincipal .parteCima .retangulo #ledPesquisa .ledAmarelo .luz{
    width: 13px;
    height: 13px;
    background-color: var(--ledP-amarelo-luz);
    border-radius: 50%;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}
#containerPrincipal .parteCima .trapezio{
    border-top: 100px solid #fa647d;
    border-right: 100px solid transparent;
    height: 0;
    width: 250px;
}
/* ----- DOBRADICA ----- */
#dobradica{
    display: inline-block;
    width: 40px;
    height: 600px;

    position: absolute;
    top:100px;
    left:397.5px;
}
#dobradica .parte1, #dobradica .parte3{
    background-color: var(--cor-secundaria);
    height: 50px;
    width: 40px;
}
#dobradica .parte1{
    border-radius: 10px 10px 10px 10px;
}
#dobradica .parte3{
    border-radius: 50px 46px 10px 10px;
    position: relative;
    top: -26px;
}
#dobradica .parte2{
    background-color: var(--cor-secundaria);
    height: 528px;
    width: 40px;
    border-radius: 50px 46px 0 0;

    position: relative;
    top: -15px;

}
#dobradica .parte2 .curva, #dobradica .parte3 .curva{
    width: 60px; 
    height: 60px;  
    border: solid 5px #a31930;
    border-color: #a31930 transparent transparent transparent;
    border-radius: 50%/50px 50px 0 0;

    position: relative;
    left: -10px;
}
#dobradica .parte1 .luz, #dobradica .parte3 .luz{
    background-color: #faa6b4;
    width: 7px;
    height: 50px;

    position: relative;
    left: 10px;
}
#dobradica .parte2 .luz{
    background-color: #faa6b4;
    width: 7px;
    height: 525px;

    position: relative;
    top:-55px;
    left: 10px;
    border-radius: 10px 0 0 0 ;
}
#dobradica .parte3 .luz{
    top:-55px;
    height: 45px;
    border-radius: 10px 0 0 0 ;
}
/* ----- TELA PRINCIPAL ----- */

#containerPrincipal .parteMeio{
    display: flex;
    justify-content: center;
}
#containerPrincipal .parteMeio #telaPrincipal{
    position: relative;
    left: -20px;
    top:20px;
}
#containerPrincipal .parteMeio #telaPrincipal .base .retangulo{
    background-color: #dedede;
    height: 262.5px;
    width: 328px;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#containerPrincipal .parteMeio #telaPrincipal .base .retangulo .ledPequenos{
    display: flex;
    flex-direction: row;
    gap: 20px;

    position: relative;
    top: -12px;
}
#containerPrincipal .parteMeio #telaPrincipal .base .retangulo .ledPequenos .led{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: #800417;
    border-radius: 50%;
}
#containerPrincipal .parteMeio #telaPrincipal .base .retangulo .tela{
    width: 270px;
    height: 200px;
    background-color: #232323;
    border-radius: 10px;
}
#containerPrincipal .parteMeio #telaPrincipal .base .trapezio{
    border-top: 45px solid #dedede;
    border-left: 50px solid transparent;
    height: 0;
    width: 328px;
    border-radius: 0px 0px 10px 0px;
}
#containerPrincipal .parteMeio #telaPrincipal .base .trapezio .ledMedio{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: #800417;
    border-radius: 50%;

    position: relative;
    top:-50px;
    left:-15px;
}
#containerPrincipal .parteMeio #telaPrincipal .base .trapezio .ventuinhas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;

    position: relative;
    top: -79px;
    left: 165px;
}
#containerPrincipal .parteMeio #telaPrincipal .base .trapezio .ventuinhas .ventuinha{
    height: 4px;
    width: 80px;
    background-color: #232323;
}
/* ----- SIMBOLOS TELA ----- */
#estrela{
    margin: 100px;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid goldenrod;
    border-left: 100px solid transparent;
    transform: rotate(35deg) scale(0.2);

    position: absolute;
    top: -70px;
    left: -140px;
    display: none;
}
#estrela:before{
    border-bottom: 80px solid goldenrod;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#estrela:after {
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid goldenrod;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}
#femaleSymbol{
    transform: scale(0.4);
    width: max-content;
    height: max-content;

    position: absolute;
    top: 6px;
    left: 253px;
    display: none;
}
#femaleSymbol .parteCima{
    width: 50px;
    height: 50px;
    border: 10px solid #d060ac;
    border-radius: 50%;
}
#femaleSymbol .parteBaixo{
    position: relative;
    top: -10px;
    left: 20px;
}
#femaleSymbol .parteBaixo .traco1{
    height: 40px;
    width: 10px;
    background-color: #d060ac;
    border-radius: 10px;
}
#femaleSymbol .parteBaixo .traco2{
    height: 40px;
    width: 10px;
    background-color: #d060ac;
    border-radius: 10px;
    transform: rotate(90deg);

    position: relative;
    top: -37px;
    left: 0;
}
#maleSymbol{
    transform: scale(0.4) rotate(225deg);;
    width: max-content;
    height: max-content;

    position: absolute;
    top: -24px;
    left: 265px;
}
#maleSymbol .parteCima{
    width: 50px;
    height: 50px;
    border: 10px solid #5574b8;
    border-radius: 50%;
}
#maleSymbol .parteBaixo .traco1{
    height: 40px;
    width: 10px;
    background-color: #5574b8;
    border-radius: 10px;
}
#maleSymbol .parteBaixo .traco2{
    height: 30px;
    width: 10px;
    background-color: #5574b8;
    border-radius: 10px;
    transform: rotate(45deg);

    position: relative;
    top: -25px;
    left: 7px;
}
#maleSymbol .parteBaixo .traco3{
    height: 30px;
    width: 10px;
    background-color: #5574b8;
    border-radius: 10px;
    transform: rotate(-45deg);

    position: relative;
    top: -55px;
    left: -7px;
}
#maleSymbol .parteBaixo{
    position: relative;
    top: -9px;
    left: 20px;
}
/* ----- IMAGEM TELA ----- */
#imagemTelaPrincipal{
    position: absolute;
    left: 60px;
    top: 35px;
    height: 65%;
    user-select: none;
}
/* ----- PARTE BAIXO ----- */
#containerPrincipal .parteBaixo{
    position: relative;
}
/* ----- LED MENORES ----- */
#ledMenores{
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 35px;
    left: 105px;
}
#ledMenores .led1{
    background-color: #800417;
    height: 8px;
    width: 40px;
    margin: 0 60px 30px 0;
    border-radius: 10px;
    border: 1px solid black;
}
#ledMenores .led2{
    background-color: #141477;
    ;
    height: 8px;
    width: 40px;
    margin: 0 60px 30px 0;
    border-radius: 10px;
    border: 1px solid black;
}
/* ----- BARRA DE PESQUISA ----- */
#containerPrincipal .parteBaixo #barraPesquisa{
    display: inline-block;
    width: 150px;
    height: 90px;
    background-color: #52ae5f;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

    position: relative;
    top: 60px;
    left: -45px;
}
#containerPrincipal .parteBaixo #barraPesquisa #inputPesquisa{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 145px;
    color: #ffffff;
    outline: none;
    font-size: 20px;
    border: none;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
}
/* ----- BOTÃO PESQUISAR ----- */
#botaoPesquisar{
    height: 55px;
    width: 55px;
    background-color: #232323;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 75px;
    left: 22px;
}
#botaoPesquisar:hover{
    background-color: blue;
}
/* ----- SETAS ----- */
#setas{
    display: flex;
    position: absolute;

    top: 40px;
    left: 308px;
}
.seta{
    height: max-content;
    width: max-content;

    cursor: pointer;
}
#setas .seta .corpoCima{
    background-color: #232323;
    width: 30px;
    height: 50px;
    border-radius: 10px 10px 0 0;

    box-sizing: content-box;
}
#setas .seta .pontaCima{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #232323;

    box-sizing: content-box;
}

#setas .seta .corpoDireita{
    background-color: #232323;
    width: 30px;
    height: 50px;
    border-radius: 10px 10px 0 0;

    box-sizing: content-box;
}
#setas .seta .pontaDireita{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #232323;

    box-sizing: content-box;
}

#setas .seta .corpoBaixo{
    background-color: #232323;
    width: 30px;
    height: 50px;
    border-radius: 10px 10px 0 0;

    box-sizing: content-box;
}
#setas .seta .pontaBaixo{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #232323;

    box-sizing: content-box;
}

#setas .seta .corpoEsquerda{
    background-color: #232323;
    width: 30px;
    height: 50px;
    border-radius: 10px 10px 0 0;

    box-sizing: content-box;
}
#setas .seta .pontaEsquerda{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #232323;

    box-sizing: content-box;
}

#setaDireita{
    transform: rotate(90deg);

    position: relative;
    top: 32px;
    left: 2px;
}
#setaBaixo{
    transform: rotate(180deg);

    position: relative;
    top: 65px;
    left: -90px;
}
#setaEsquerda{
    transform: rotate(270deg);

    position: relative;
    top: 32px;
    left: -92px;
}
/* ----- TAMPA ----- */
#tampa .containerSecundario{
    background-color: var(--cor-principal);
    width: 437.5px;
    height: 500px;
    border-radius: 0 0 10px 0;
   
}
#tampa .trapezio{
    border-bottom: 100px solid var(--cor-principal);
    border-right: 100px solid transparent;
    height: 0;
    width: 260px;
    margin-top: 100px;
}
/* ----- TAMPA PARTE MEIO ----- */
#tampa .containerSecundario .parteMeio{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* ------ TELA SECUNDARIA ----- */
#telaSecundaria{
    background-color: #232323;
    width: 380px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 5px;

    position: relative;
    top: 30px;
}
#telaSecundaria .titulo{
    color:#dedede;
    font-size: 150%;
    text-align: left;
    text-transform: capitalize;
    white-space: pre-line;
}
#telaSecundaria .descricao{
    color:#ccd999;
    text-align: left;
    white-space: pre-line;
    line-height: 19px;
}
/* ----- BOTOES AZUIS ----- */
#botoesAzuis{
    width: 380px;
    height: 124px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 50px;
}

#botoesAzuis .botaoAzul{
    background-color: lightblue;
    width: 74px;
    height: 60px;
    cursor: pointer;
}
#botoesAzuis .botaoAzul:hover{
    background-color: blue;
}
#botoesAzuis .botao1{
    border-radius: 5px 0 0 0;
}
#botoesAzuis .botao2{
    border-radius: 0 5px 0 0;
}
#botoesAzuis .botao3{
    border-radius: 0 0 5px 0;
}
#botoesAzuis .botao4{
    border-radius: 0 0 0 5px;
}
/* ----- TAMPA PARTE BAIXO ----- */
#tampa .parteBaixo{
    position: relative;
}
/* ----- BOTÕES MENORES ----- */
#tampa .parteBaixo .botoesMenores{
    width: max-content;
    position: relative;
    left: 280px;
    top: 10px;
}
#tampa .parteBaixo .botoesMenores .botaoMenor{
    background-color: #232323;
    width: 60px;
    height: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
}
#tampa .parteBaixo .botoesMenores .botaoMenor:hover{
    background-color: blue;
}
/* ----- BOTÕES BRANCOS ----- */
#tampa .parteBaixo .botoesBrancos{
    width: 152px;
    height: 62px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;

    position: relative;
    top: 20px;
    left: 30px;
}
#tampa .parteBaixo .botoesBrancos .botaoBranco{
    background-color: #dedede;
    width: 74px;
    height: 60px;

    cursor: pointer;
}
#tampa .parteBaixo .botoesBrancos .botaoBranco:hover{
    background-color: blue;
}
#tampa .parteBaixo .botoesBrancos .botao1{
    border-radius: 5px 0 0 5px;
}
#tampa .parteBaixo .botoesBrancos .botao2{
    border-radius: 0 5px 5px 0;
}
/* ----- LED GRANDE AMARELO ----- */
#tampa .parteBaixo .ledGrandeAmarelo{
    background-color: var(--ledClick);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;

    position: absolute;
    top:45px;
    left: 320px;
}
#tampa .parteBaixo .ledGrandeAmarelo .luz{
    background-color: var(--ledClick-luz);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 6px;
}
/* ----- BOTÕES PRETOS ---- */
#tampa .parteBaixo .botoesPretos{
    display: flex;
    gap: 40px;
    width: max-content;

    position: relative;
    top: 45px;
    left: 30px;
}
#tampa .parteBaixo .botoesPretos .botaoPreto{
    background-color: #232323;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
}
#tampa .parteBaixo .botoesPretos .botaoPreto:hover{
    background-color: blue;
}
/*
@media (max-width: 880px){
    #pokedex{
    
        margin-top: 25px;
    
    }
}
@media (max-width: 860px){
    #pokedex{
    
        margin-top: 35px;
    
    }
}
@media (max-width: 840px){
    #pokedex{
    
        margin-top: 45px;
    
    }
}
@media (max-width: 820px){
    #pokedex{
    
        margin-top: 55px;
    
    }
}
@media (max-width: 800px){
    #pokedex{
    
        margin-top: 65px;
    
    }
}
@media (max-width: 780px){
    #pokedex{
    
        margin-top: 75px;
    
    }
}
@media (max-width: 760px){
    #pokedex{
    
        margin-top: 85px;
    
    }
}
@media (max-width: 740px){
    #pokedex{
    
        margin-top: 120px;
    
    }
}
@media (max-width: 650px){
    #pokedex{
    
        margin-top: 200px;
    
    }
}
@media (max-width: 610px){
    #pokedex{
    
        margin-top: 205px;
    
    }
}
@media (max-width: 600px){
    #pokedex{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    #tampa{
        margin-top: 15px;
    }
}
@media (max-height: ) {

}*/
    
